/*:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */

/*a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
*/
/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

nav {
  background-color: #F55A5A;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  margin-bottom: 45px;
}
.nav--title {  
  color: white;
  margin-left: 2px;
  font-size: 20px;
}
.nav--logo {  
  width: 25px;  
}
.gray {
  color: #918E9B;
}
.bold {
  font-weight: bold;
}
.nav--logo {
  max-width: 100%;
}
.image--container {
  margin-top: 45px;  
}
/*section {
  padding: 20px;
}

.hero {
  display: flex;
  flex-direction: column;
}

.hero--photo {
  max-width: 400px;
  align-self: center;
}

.hero--header {
  margin-bottom: 16px;
}

.hero--text {
  margin-top: 0;
}

.cards-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
} */

.card {
  width: 550px;
  font-size: 12px;  
  margin-left: 40px;     
  display: flex;          
  flex-direction: row;
  align-items: center;  
  position: relative;
}

.card--image {
  /*width: 100%; */
  height: 175px; 
  width: 150px; 
  left: 40px;
  top: 100px;
  border-radius: 5px;
  margin-bottom: 36px;
  box-shadow: 2px 5px 15px -5px black;
}


/*.card--title {
overflow: hidden;
text-overflow: ellipsis; 
}*/

.card--stats {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  /*position: absolute;*/
width: 326px;
height: 45px;
left: 184px;
top: 119px;
margin-bottom: 4px;
}

.card--pin {
  width: 8px;
  height: 10px;
}
.gray {
  font-weight: 400;
  font-size: 10.24px;
  line-height: 12px;
  letter-spacing: 0.17em;
  margin-left: 4px;
  color: #2B283A;
}
.map--link {
  font-weight: 400;
  font-size: 10.24px;
  line-height: 12px;
/* identical to box height */
  margin-left: 12px;
  text-decoration-line: underline;
  color: #918E9B;
}
.card--title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #2B283A;
  margin-top: 2px;
  margin-bottom: 2px;
}
.card--date {
  margin-bottom: 9px;
  font-weight: 700;
  font-size: 10.24px;
  line-height: 12px;
  color: #2B283A;

}

.bSide {
  display: flex;
  flex-direction: column;
  align-items: left; 
  margin-left: 50px; 
}
.bold {
  font-weight: 400;
  font-size: 11px;
  line-height: 150%;
}
.card--badge {
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
}

/*@media (max-width: 600px) {
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
} */